<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Attendance Management System</h1>
    <ul>
        <li><a href="/admin/classes">Manage Classes</a></li>
        <li><a href="/admin/add-teacher">Add Teacher</a></li>
        <li><a href="/admin/manage-users">Manage Users</a></li>
        <li><a href="/teacher/students">Manage Students</a></li>
        <li><a href="/teacher/attendance">Manage Attendance</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</body>
</html>
